h1 {
    margin-bottom: 2rem;
}

@media (max-width: 700px) {
    body {
        padding: 0.5rem 2rem;
    }

    .row {
        flex-direction: column;
    }

    div.headshot {
        width: 100%;
    }
}

@media (min-width: 700px) {
    body {
        padding: 2rem 8rem;
    }
}

div.headshot {
    justify-content: center;
}

div.headshot img {
    max-width: 200px;
    display: block;
    margin: auto;
}


body {
    font-family: "Helvetica", "Arial", sans-serif;
    justify-content: center;
    display: flex;
    line-height: 1.4;
}

code {
    font-family: "Andale Mono", "Courier New", monospace;
}

.container {
    max-width: 1300px;
    width: 100%;
    justify-content: unset;
}

.row {
    display: flex;
    gap: 3rem;
}

.row-entry-fill {
    flex: 1;
}

.rounded {
    border-radius: 2rem;
}

ol {
    list-style-type: lower-roman;
}

ol li {
    padding-bottom: 0.6rem;
}

div.figure {
    width: 100%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

div.figure img {
    max-height: 20em;
    margin: auto;
    display: block;
    padding-bottom: 0.6em;
}

div.figure span.caption {
    font-size: 0.8em;
    display: table;
    margin: auto;
}

a {
    color: #474747;
}

a:hover {
    text-decoration: none;
}

hr {
    margin: 1em;
    height: 1px;
    border: none;
    background-color: #474747;
}
